[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_ms

[dn]
C=US
ST=California
L=San Francisco
O=MyCompany
OU=Payments Team
CN=payment-service.internal

[v3_ms]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = critical,CA:false
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = payment-service
DNS.2 = payment-service.internal

